---
layout: default
title: About_Me
permalink: /about/
---
<div class="wrapper">
    <div class="socialAcount">
        <div class="socialAcount-box">
               {% assign accounts = site.data.socialAcount %}
               {% for a in accounts %}
                <a href="{{a.adress}}" rel="{{a.type}}" target="_blank">
                    <img src="{{site.url}}/img/{{a.icon}}"><br/>
                   {{a.name }}
                </a>
                {% endfor %}
                
        </div>       
    </div>
     <div class="memoo">
        <ul> 
            <li> 经常减肥无成效</li>       
            <li> 看不惯炫富</li> 
            <li> 不挑食 </li>
            <li> 迷恋自拍</li>       
            <li> 胸怀大志</li> 
                   
        </ul>  
    </div> 
  
    {% include selfPhoto.html%}

    <div class="row_layout row_layout2">         
           
            <!-- {% include cv_en.html %} -->
           
            
    </div>
        
        
   
</div>



