---
layout: default
title: About_Me
permalink: /about/
---
<div class="wrapper">
    <div class="socialAcount">
        <div class="socialAcount-box">
               {% assign accounts = site.data.socialAcount %}
               {% for a in accounts %}
                <a href="{{a.adress}}" rel="{{a.type}}" target="_blank">
                    <img src="{{site.url}}/img/{{a.icon}}"><br/>
                   {{a.name }}
                </a>
                {% endfor %}
                
        </div>       
    </div>
    <!-- <div class="memoo">
        <ul> 
            <li>
                <h2>Dudu：</h2> 
            </li> 
            <li>
                <h2>汤姆大叔：</h2> 
            </li> 
            <li>
                <h2>技术弟弟：</h2> 
            </li> 
            <li>
                <h2>Artech：</h2> 
            </li> 
            <li>
                <h2>吉日嘎拉：</h2> 
            </li> 
            <li>
                <h2>某武林高手：</h2> 
            </li> 
        </ul>         
    </div> -->
  
    {% include selfPhoto.html%}

    <div class="row_layout row_layout2">         
           
            {% include cv_en.html %}
           
            
    </div>
        
        
   
</div>



