
    <div class="resume" style="width: 210.0mm;background: #fff;">
        <div class="inner_resume" style="margin: 1.0mm 10.0mm 0.0mm 10.0mm;">
            <div>
                <table class="photo_table">
                    <tr>
                        <td class="border_box" style="border-top: 1.5pt none #000000; border-right: 1.5pt none #000000; border-bottom: 1.5pt none #000000; border-left: 1.5pt none #000000; width: 28.0mm; background-color: transparent;">
                            <img alt="简历求职照" src="{{ site.url }}/img/person.jpg"
                                style="width: 25.0mm; height: 35.0mm; margin: 0.0mm 1.5mm 0.0mm 1.5mm;" />
                        </td>
                        <td>
                            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                <table>
                                    <tr>
                                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 1.5pt none #444444; border-right: 1.5pt none #444444; border-bottom: 1.5pt none #444444; border-left: 1.5pt none #444444;">
                                            <input type="hidden" name="key" value="" />
                                            <pre style="min-height: 1pt; margin: 4.0mm 1.5mm 0.0mm 1.5mm;"><span class="Tahoma" style="font-size: 1pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">                                                    </span></pre>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                <table>
                                    <tr>
                                        <td class="cell border_box" style="width: 36.3222%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt dashed #444444; border-left: 0.75pt none #444444;">
                                            <input type="hidden" name="key" value="name" />
                                            <pre style="min-height: 22pt; margin: 1.0mm 1.5mm 2.0mm 1.5mm;"><span class="Tahoma" style="font-size: 22pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;"></span></pre>
                                        </td>
                                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: right; vertical-align: bottom; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt dashed #444444; border-left: 0.75pt none #444444;">
                                            <input type="hidden" name="key" value="intent" />
                                            <pre style="min-height: 10pt; margin: 1.0mm 1.5mm 2.0mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;"></span></pre>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                <table>
                                    <tr>
                                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: center; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                                            <input type="hidden" name="key" value="email" />
                                            <pre style="min-height: 10pt; margin: 1.5mm 1.5mm 0.5mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">E-mail: 949892801@qq.com                               We-chat :ruiyu_2013</span></pre>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                <table>
                                    <tr>
                                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: center; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                                            <input type="hidden" name="key" value="phone" />
                                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">TEL    :(+86) 188-xxxx-xxxx                                   QQ        :949892801</span></pre>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                                <table>
                                    <tr>
                                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                                            <input type="hidden" name="key" value="university" />
                                            <pre style="min-height: 1pt; margin: 0.5mm 1.5mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 1pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.0;"></span></pre>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:1.0mm; padding-bottom:1.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: #eeeeee; text-align: left; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 11pt; margin: 0.7mm 1.5mm 0.7mm 1.0mm;"><span class="Tahoma" style="font-size: 11pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">EDUCATION</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 18.2451%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="period" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">09/2013 - 07/2017</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="university" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.5;">South China university of Technology    Bachelor in computer science and technology</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="scholarship" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">National Scholarship for Encouragement  </span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="scholarship" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">GPAGPA：3.X/4.0  CET-4(612) CET-6（514）</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: bottom; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="scholarship" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Professional course: computer organization principle, operation system , compiling principle,data structure,database,                                       computer network,algorithm design and analysis</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="scholarship" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Programming: C++/C, SQL,Html,CSS,Javascript</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:3.0mm; padding-bottom:3.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: #eeeeee; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 11pt; margin: 0.7mm 1.5mm 0.7mm 1.0mm;"><span class="Tahoma" style="font-size: 11pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">SOFTWARE EXPERIENCE</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 23.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="period" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">03/2016 - 06/2016</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.5;">WPF in Lab                                                                                        Group Member </span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Rewrote a client in WPF language on the base of Winform language</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Responsible for extracting data from a database, and use  a javasciprt plug-in hightcharts to visualize the data in pie chart,bar chart,etc</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Learned  the similar transformation between WPF and Winform</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 23.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="period" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">03/2016 - 09/2016</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.5;">A team of Entrepreneurial base in school                       Front-end Development</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Used Html + CSS + javascript and  some front-end frameworks for WEB development</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Produced  pages according to the design drawings, integrated the front-end code, and transit to the back-end</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Raised my practical ability by doing outsourcing projects, including  the system of our school extracurricular  achievements </span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 23.0%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="period" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">05/2016- 07/2016</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.5;">Anjubao Network Technology Co.                                    Front-end Development</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Learned vue componentization, vuex state management, webpack automated building, and used these technologies in the front-end development in projects of the company</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Used the vue + webpack, independently finished the development of the company of a monitoring system</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Study on my own and carry out a training for interns with the topic of karma</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 21.727%; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="period" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">07/2016- 08/2016</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.5;">China Mobile Communications Corporation                        Software Development</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Responsible for developing the rewards system of the company, providing a visual interface to the database</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Learned  JSP and servlet on my own to acheive back-end and the interaction with font-end</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: 3.34262%; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">•</span></pre>
                        </td>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 0.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">Individually completed the whole project , including front-end and back-end development, server project deployment and document writing</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:1.0mm; padding-bottom:1.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: #eeeeee; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 11pt; margin: 0.7mm 1.5mm 0.7mm 1.0mm;"><span class="Tahoma" style="font-size: 11pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">CAMPUS EXPERIENCE</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">   •  took an active part in volunteer activities,and won three star classes volunteer in guangzhou</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">  •  student assistant in colleage, assist the teacher all kinds of student work </span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">   •  minister of tencent club in college,exercise the ability of organization</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="" />
                            <pre style="min-height: 10pt; margin: 0.5mm 5.0mm 0.5mm 1.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">  •  ACM member of college ,which improved my practice ability a lot</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:1.0mm; padding-bottom:1.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: #eeeeee; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="title" />
                            <pre style="min-height: 11pt; margin: 0.7mm 1.5mm 0.7mm 1.0mm;"><span class="Tahoma" style="font-size: 11pt; color: #000000; background-color: transparent; font-weight: bold; font-style: normal; text-decoration: none; line-height: 1.15;">HONORS</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">  •  third prize  in the South China normal university ACM collegiate programming contest</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">  •  third prize  in the Guangzhou university of technology ACM collegiate programming contest</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">  •  awarded  in the South China university of technology  collegiate software contest</span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">  •  Merit Student  in the South China university of technology  </span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: left; vertical-align: middle; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="content" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 0.5mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;">  • Advanced Individual  in the South China university of technology  </span></pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top:0.0mm; padding-bottom:0.0mm;">
                <table>
                    <tr>
                        <td class="cell border_box" style="width: auto; background-color: transparent; text-align: right; vertical-align: top; border-top: 0.75pt none #444444; border-right: 0.75pt none #444444; border-bottom: 0.75pt none #444444; border-left: 0.75pt none #444444;">
                            <input type="hidden" name="key" value="bullet" />
                            <pre style="min-height: 10pt; margin: 0.5mm 1.5mm 0.5mm 1.0mm;"><span class="Tahoma" style="font-size: 10pt; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; text-decoration: none; line-height: 1.5;"></span></pre>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>