<div class="galleryDiv">
    <div class="pictrue rotate_right">
        <img alt="avatar"  src="{{ site.url }}/img/yunnan.jpg" />
     <span >我是一个正在努力学习的小行僧。</span>
    </div>
    <div style="width:10%"></div>
    <div class="quote">
        <p style="color: cornsilk;text-shadow: 5px 5px 5px #CDDC39;">想要放弃的时候，想想当初为什么开始</p>
        <p style="color: lavenderblush;text-shadow: 5px 5px 5px #99f;">不能控制自己身材的人，怎么控制自己的人生</p> 
        <p style="color: aquamarine;text-shadow: 5px 5px 5px #9E9E9E;">Stay hungry,stay foolish.</p> 
        
    </div>

    <!-- <div class="contact">
        <div class="contact-box">
               {% assign accounts = site.data.socialAcount %}
               {% for a in accounts %}
                <a href="{{a.adress}}" rel="{{a.type}}" target="_blank">
                    <img src="{{site.url}}/img/{{a.icon}}">
                   {{a.name}}
                </a>
                {% endfor %}
                
        </div>
        <p>¡Hola!记录生活</p>
    </div> -->

</div> 
<!-- 
 <div class="box6">
          
        <img src="{{ site.url }}/img/yunnan.jpg">
         
       <p>hello</p>
        <br />
        
        <div class="box6_corner_lf"></div>
        <div class="box6_corner_rt"></div>
 </div> -->