

<script type="text/javascript" src="{{site.baseurl}}/assets/imageflow.js"></script>



<div id="LoopDiv">
	<input id="S_Num" type="hidden" value="8" />
	<div id="starsIF" class="imageflow"> 
		<img src="{{site.baseurl}}/img/selfPhoto/1.jpg"  width="120" height="140" alt="Picture" /> 
		
		<img src="{{site.baseurl}}/img/selfPhoto/3.jpg"  width="120" height="140" alt="Picture" /> 
		<img src="{{site.baseurl}}/img/selfPhoto/4.jpg"  width="120" height="140" alt="Picture" /> 
		<img src="{{site.baseurl}}/img/selfPhoto/5.jpg"  width="120" height="140" alt="Picture" /> 
		<img src="{{site.baseurl}}/img/selfPhoto/6.jpg"  width="120" height="140" alt="Picture" /> 
		<img src="{{site.baseurl}}/img/selfPhoto/7.jpg"  width="120" height="140" alt="Picture" /> 
		<img src="{{site.baseurl}}/img/selfPhoto/8.jpg"  width="120" height="140" alt="Picture" /> 
		 
		<img src="{{site.baseurl}}/img/selfPhoto/9.jpg"  width="120" height="140" alt="Picture" /> 
		<img src="{{site.baseurl}}/img/selfPhoto/10.jpg"  width="120" height="140" alt="Picture" /> 
		<img src="{{site.baseurl}}/img/selfPhoto/11.jpg"  width="120" height="140" alt="Picture" /> 
		<img src="{{site.baseurl}}/img/selfPhoto/12.jpg"  width="120" height="140" alt="Picture" />
	</div>
</div>
<div class="clear"></div>

