.socialAcount{
    width: 60%;         
    margin: 70px auto;
    margin-bottom: 0;
    .socialAcount-box{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        a {
            color:  #4470c2;
            margin-bottom: 10px;
          
            img{
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }
            &:hover{
                text-decoration: none;
                cursor: pointer;
            }
           
            
        }
    }
}
.row_layout2{
   
    float:left;
    
}
@media only screen and (max-width : 720px) {
    .row_layout2{
        float: none;
        margin-top: 0;
    
    }
    .socialAcount{
        display: block;
        float: none;
         width: 100%;
        .socialAcount-box{         
            flex-direction: row;
            a{
                width:15%;
            }
        }
        
    }
}    

