.galleryDiv{
    margin:0 auto;
    padding-top: 60px;
    width:90%;
    max-width: 1000px;
    display: flex;
    .rotate_right{
        @include rotate(-7deg);
    }
    .pictrue{
        width:40%;
        margin-top: 36px;
        padding:10px 10px 20px 10px ;
        border: 1px solid #bfbfbf;
        background-color: white;
        box-shadow: 2px 2px 3px #aaaaaa;
        display: inline-block;
    }
    .quote{
        padding-top: 15%;
        padding-left: 5%;
        line-height: 2em;
        font-size: 1.2em;
        font-weight: bold;
        
    }
}
    

@media only screen and (max-width : 480px) {
    .galleryDiv{
        display: block;    
        .pictrue{
            width: 90%;
        }   
        .quote{
            padding-top:40px;
            
        }
    }
}
